# Node/Next
node_modules/
.next/
out/
.env*

# Capacitor native
android/.gradle/
android/.idea/
android/local.properties
android/app/build/
android/build/
ios/Pods/
ios/build/
ios/DerivedData/

# OS/editor
.DS_Store
.idea/
.vscode/
